body {
  position: relative;
  text-align: center;
  color: rgb(124,77,255);
  font-family: Trebuchet MS, sans-serif;
}

h3 {
  color: rgb(34, 34, 34);
}
#userInput {
  border: 1px solid black; 
  margin-top: 10px;
  height: 45px;
  width: 350px
}

h5 {
  color: rgb(34, 34, 34);
}

#ingredientsOutput {
  display: none;
  border-radius: 20px;
  background-color: rgb(255,235,237);
} 

tr {
  width: 600px;
  word-wrap: break-word;
  position: relative;
  text-align: left;
  height:100%;
  width:100%;
  padding: 20px;
}

td {
  color: rgb(34, 34, 34);
  padding: 20px;
}

th {
  padding: 20px;
  text-align: center;
  font-style: normal;
}

.errors {
  color: rgb(34, 34, 34);
}

.noResult {
  color: rgb(34, 34, 34);
}

.row {
  margin: auto;
  width: 50%;
}

#recipeSearch {
  width: 500px;
}

#findByIngrdients {
  background-color: #FFEBED;
  margin-left: 35px;
  margin-top: 15px;
  height: 30px;
  width: 65px;
}

#fridgeOpen {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#fridgeClosed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  border-radius: 20px;
  border: solid gray 2px;
}

#recipeBorder {
  border-radius: 20px;
  border: 5px solid white; 
  -webkit-box-shadow: 
    inset 0 0 8px  #FFE90B,
          0 0 16px #FFE90B; 
  -moz-box-shadow: 
    inset 0 0 8px  #FFE90B,
          0 0 16px #FFE90B; 
  box-shadow: 
    inset 0 0 8px  #FFE90B,
          0 0 16px #FFE90B; 
  padding: 30px;
  background: rgba(255,255,255,0.5);
  margin: auto;
  text-align: center;
}

#recipeSearchBorder {
  border-radius: 20px;
  border: 5px solid white; 
  -webkit-box-shadow: 
    inset 0 0 8px  #FFE90B,
          0 0 16px #FFE90B; 
  -moz-box-shadow: 
    inset 0 0 8px  #FFE90B,
          0 0 16px #FFE90B; 
  box-shadow: 
    inset 0 0 8px  #FFE90B,
          0 0 16px #FFE90B; 
  padding: 1px;
  background: rgba(255,255,255,0.5);
  margin: auto;
  text-align: center;
}