body {
  position: relative;
  text-align: center;
  color: rgb(48,191,215);
}

h3 {
  color: rgb(34, 34, 34);
}

/* table {
  display: none;
}  */

tr {
  width: 600px;
  word-wrap: break-word;
  position: relative;
  text-align: center;
  height:100%;
  width:100%;
}

td {
  color: rgb(34, 34, 34);
}

.errors {
  color: rgb(34, 34, 34);
}

.noResult {
  color: rgb(34, 34, 34);
}
.row {
  margin: auto;
  width: 50%;
}
#recipeSearch {
  width: 500px;
}
#findByIngrdients {
  background-color: #34D0E7;
}